{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <!--========== FAVICON ==========-->
    <link rel="shortcut icon" href="\static\img\profile_photo.png" type="image/x-icon">

    <!--========== REMIX ICONS ==========-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!--========== CSS ==========-->
    <link rel="stylesheet" href="\static\css\style.css">


    <title>
        {% block title %}
            Home
        {% endblock %}
    </title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__data">
                <ul class="header__navigation">
                    <li><a href="{% url 'home' %}" class="header__link">    Home            </a></li>
                    <li><a href="{% url 'CV page' %}" class="header__link">     CV page         </a></li>
                    <li><a href="#" class="header__link">                       Pricing         </a></li>
                    <li><a href="{% url 'faqs' %}" class="header__link">        FAQs            </a></li>
                    <li><a href="{% url 'about' %}" class="header__link">       About           </a></li>
                </ul>

                <form class="header__form">
                    <input type="search" class="header__search" placeholder="Search..." aria-label="Search">
                </form>

                <div class="header__buttons">
                    <!--
                    <button type="button" class="btn btn-outline-light me-2">   Login                       </button>
                    <button type="button" class="btn btn-warning">              Sign-up                     </button>
                    -->

                    {% if not request.user.is_authenticated %}
                        <a href="{% url 'login' %}" class="button button__small button__gray">           Login           </a>
                        <a href="{% url 'sign-up' %}" class="button button__small button__gray">                    Sign-up         </a>
                    {% else %}
                        <a href="{% url 'profile' %}" class="btn btn-outline-light me-2">         Profile         </a>
                        <a href="{% url 'logout' %}" class="btn btn-warning">                     Logout          </a>
                    {% endif %}

                </div>

                <i class="ri-moon-line change-theme" id="theme-button"></i>
            </div>
        </div>
    </header>





    {% block body %}
        <p>gfgfgfgfgfgfg</p>
    {% endblock %}





    <!--========== FOOTER ==========-->
    <footer class="footer container">
        <span class="footer__copy">
            &#169; Rostyslav. All rights reserved
        </span>
    </footer>

    <!--========== SCROLLREVEAL ==========-->
    <script src="\static\js\scrollreveal.min.js"></script>

    <!--========== MAIN JS ==========-->
    <script src="\static\js\main.js"></script>
</body>
</html>