{% extends 'base.html' %}

{% block title %}
    CV page
{% endblock %}


{% block  body %}
    <main class="container">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-4 fst-italic">Python web developer</h1>
            </div>
        </div>

        <div class="row mb-2">
            <div>
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-light">

                    <div class="col-md-2 p-4 d-flex flex-column position-static">
                        <img src="/static/img/image.jpg" height="200" width="150">
                    </div>

                    <div class="col-auto d-lg-block" style="margin-left: 20px; margin-top: 5%;">
                        <h1>    Sharuiev Rostyslav      </h1>
                        <h3 style="font-weight: normal;" class="text-muted">
                            Student at National Technical University of Ukraine 'Kyiv Polytechnic Institute'
                        </h3>
                        <h4 style="font-weight: normal;" >   An independent and self-motivated fifth-year student    </h4>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row g-5">
            <div class="col-md-8">

                <article class="blog-post">
                    <h2 class="pb-4 mb-4 fst-italic border-bottom">
                        EDUCATION
                    </h2>

                    <ul>
                        <li>
                            <h4 class="blog-post-title fst-italic">Bachelor</h4>
                            <h5 class="fst-italic" style="font-weight: normal;">
                                National Technical University of Ukraine “Igor Sikorsky Kyiv Polytechnic Institute”
                            </h5>
                            <table style="width: 100%;">
                                <tr>
                                    <td class="fst-italic">     07/2017 - 06/2021       </td>
                                    <td class="fst-italic">     Kyiv, Ukraine           </td>
                                </tr>
                            </table>
                            <br>
                        </li>
                        <li>
                            <h4 class="blog-post-title fst-italic">Master</h4>
                            <h5 class="fst-italic" style="font-weight: normal;">
                                National Technical University of Ukraine “Igor Sikorsky Kyiv Polytechnic Institute”
                            </h5>
                            <table style="width: 100%;">
                                <tr>
                                    <td class="fst-italic">     09/2021 - present       </td>
                                    <td class="fst-italic">     Kyiv, Ukraine           </td>
                                </tr>
                            </table>
                        </li>
                    </ul>

                </article>

                <hr>

                <article class="blog-post">
                    <h2 class="pb-4 mb-4 fst-italic border-bottom">
                        WORK EXPERIENCE
                    </h2>

                    <ul>
                        <li>
                            <h4 class="blog-post-title fst-italic">Software developer</h4>
                            <h5 class="fst-italic" style="font-weight: normal;">Global Logic</h5>
                            <p>
                                Developing automotive systems and developing tools
                            </p>
                            <table style="width: 100%;">
                                <tr>
                                    <td class="fst-italic">     01/2022 - present       </td>
                                    <td class="fst-italic">     Kyiv, Ukraine           </td>
                                </tr>
                            </table>
                            <br>
                        </li>
                        <li>
                            <h4 class="blog-post-title fst-italic">Lead engineer of architectural acoustics</h4>
                            <h5 class="fst-italic" style="font-weight: normal;">Ecosound</h5>
                            <p>This is a Ukrainian startup that is consulting and calculate sound in the premises. Based in Kyiv, Ukraine. Link to the site:
                                <a href="https://ecosound.kiev.ua/">https://ecosound.kiev.ua/</a>
                            </p>
                            <table style="width: 100%;">
                                <tr>
                                    <td class="fst-italic">     10/2020 - 10/2021       </td>
                                    <td class="fst-italic">     Kyiv, Ukraine           </td>
                                </tr>
                            </table>
                            <br>
                        </li>
                        <li>
                            <h4 class="blog-post-title fst-italic">Teacher in the sound engineering club</h4>
                            <h5 class="fst-italic" style="font-weight: normal;">
                                National Technical University of Ukraine “Igor Sikorsky Kyiv Polytechnic Institute”
                            </h5>
                            <p>
                                Basically talked about sound and taught how to achieve a certain sound with certain tools (analog and digital)
                            </p>
                            <table style="width: 100%;">
                                <tr>
                                    <td class="fst-italic">     09/2019 - 02/2020       </td>
                                    <td class="fst-italic">     Kyiv, Ukraine           </td>
                                </tr>
                            </table>
                        </li>
                    </ul>

                </article>

                <hr>

                <article class="blog-post">

                    <h2 class="pb-4 mb-4 fst-italic border-bottom">
                        CERTIFICATES
                    </h2>

                    <ul>
                        <li>
                            <h4 class="blog-post-title fst-italic">"Поколение Python": курс для начинающих</h4>
                            <a href="https://stepik.org/cert/1027664" class="fst-italic">
                                Сертификат – "Поколение Python": курс для начинающих · Stepik
                            </a>

                            <table style="width: 100%;">
                                <tr>
                                    <td class="fst-italic">     07/2021 - present       </td>
                                    <td class="fst-italic">     Kyiv, Ukraine           </td>
                                </tr>
                            </table>
                            <br>
                        </li>
                        <li>
                            <h4 class="blog-post-title fst-italic">"Поколение Python": курс для продвинутых</h4>
                            <a href="https://stepik.org/cert/1072717" class="fst-italic">
                                Сертификат – "Поколение Python": курс для продвинутых · Stepik
                            </a>
                            <table style="width: 100%;">
                                <tr>
                                    <td class="fst-italic">     09/2021 - present       </td>
                                    <td class="fst-italic">     Kyiv, Ukraine           </td>
                                </tr>
                            </table>
                            <br>
                        </li>
                        <li>
                            <h4 class="blog-post-title fst-italic">Программирование на Python</h4>
                            <a href="https://stepik.org/cert/1037214" class="fst-italic">
                                Сертификат – Программирование на Python · Stepik
                            </a>

                            <table style="width: 100%;">
                                <tr>
                                    <td class="fst-italic">     09/2021 - present       </td>
                                    <td class="fst-italic">     Kyiv, Ukraine           </td>
                                </tr>
                            </table>
                        </li>
                    </ul>

                </article>

                <hr>

                <article class="blog-post">

                    <h2 class="pb-4 mb-4 fst-italic border-bottom">
                        SKILLS
                    </h2>
                        <table style="width: 100%;">
                            <tr>
                                <td>    Python          </td>
                                <td>    HTML            </td>
                            </tr>
                            <tr>
                                <td>    Django          </td>
                                <td>    Flask           </td>
                            </tr>
                            <tr>
                                <td>    SQLite          </td>
                                <td>    Git             </td>
                            </tr>
                            <tr>
                                <td>    Windows (user)  </td>
                                <td>    Linux (user)    </td>
                            </tr>
                            <tr>
                                <td>    MatLab          </td>
                                <td>    Simulink        </td>
                            </tr>
                            <tr>
                                <td>    AutoCad         </td>
                                <td>    Sigma studio    </td>
                            </tr>
                            <tr>
                                <td>    MS Office       </td>
                            </tr>
                        </table>
                </article>

                <hr>

                <article class="blog-post">
                    <h2 class="pb-4 mb-4 fst-italic border-bottom">
                        PERSONAL PROJECTS
                    </h2>

                    <ul>
                        <li>
                            <h5 class="blog-post-title fst-italic">
                                <a href="https://github.com/Pethonist/Weather-app">         Weather site            </a>
                            </h5>
                        </li>
                        <li>
                            <h5 class="blog-post-title fst-italic">
                                <a href="https://github.com/Pethonist/Online-shop">         Online shop             </a>
                            </h5>
                        </li>
                        <li>
                            <h5 class="blog-post-title fst-italic">
                                <a href="https://github.com/Pethonist/Voice-assistant">     Voice assistant         </a>
                            </h5>
                        </li>
                        <li>
                            <h5 class="blog-post-title fst-italic">
                                <a href="https://github.com/Pethonist/Space-invaders">      Space invaders game     </a>
                            </h5>
                        </li>
                        <li>
                            <h5 class="blog-post-title fst-italic">
                                <a href="https://github.com/Pethonist/Simple-taskmanager">  Taskmanager             </a>
                            </h5>
                        </li>
                        <li>
                            <h5 class="blog-post-title fst-italic">
                                <a href="https://github.com/Pethonist/Online-blog">         Online blog             </a>
                            </h5>
                        </li>
                        <li>
                            <h5 class="blog-post-title fst-italic">
                                <a href="https://github.com/Pethonist/CV-site">             CV site                 </a>
                            </h5>
                        </li>
                    </ul>
                </article>

            </div>

            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <!--
                    <div class="p-4 mb-3 bg-light rounded">
                        <h4 class="fst-italic">About</h4>
                        <h5 style="font-weight: normal;">
                            Student at National Technical University of Ukraine 'Kyiv Polytechnic Institute'
                        </h5>
                        <p class="mb-0">
                            An independent and self-motivated fifth-year student
                        </p>
                    </div>
                    -->

                    <div class="p-4">
                        <h4 class="fst-italic">Languages</h4>
                        <ol class="list-unstyled">
                            <li>
                                Ukrainian (<small class="fst-italic">   Native Proficiency                  </small>)
                            </li>
                            <li>
                                Russian (<small class="fst-italic">     Native Proficiency                  </small>)
                            </li>
                            <li>
                                English (<small class="fst-italic">     Professional Working Proficiency    </small>)
                            </li>
                        </ol>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Interests</h4>
                        <ol class="list-unstyled">
                            <li>    Programming             </li>
                            <li>    Engineering             </li>
                            <li>    Guitar playing          </li>
                            <li>    Music                   </li>
                            <li>    Sound production        </li>
                        </ol>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Contact me</h4>
                        <ol class="list-unstyled">
                            <li><a href="tel:+380500316357">                                +38 (050) 031-63-57 </a></li>
                            <li><a href="https://github.com/Pethonist">                             GitHub      </a></li>
                            <li><a href="https://www.instagram.com/se.bastian6186/">                Instagram   </a></li>
                            <li><a href="https://telegram.me/beerslayer">                           Telegram    </a></li>
                            <li><a href="https://www.linkedin.com/in/rostyslav-sharuiev-463a06217"> LinkedIn    </a></li>
                            <li><a href="mailto:rostislavkpi@gmail.com">                            Gmail       </a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
